# Panel Structuring & Econometric Transformation

In [98]:
# import all relevant libraries --> can't use utils since it is a jupyter notebook
import streamlit as st
import pandas as pd
from pathlib import Path
import plotly.express as px
import numpy as np

In [99]:
CWD = Path.cwd()
print(CWD)

ROOT = CWD.parent

IN_RAW = ROOT/"app"/"data"/"output"

OUT_CLEAN = ROOT/"app"/"data"/"output"

OUT_TABLES = ROOT/"app"/"data"/"tables"

print(ROOT)
print(IN_RAW)

IN_RAW.mkdir(parents=True, exist_ok=True)
OUT_CLEAN.mkdir(parents=True, exist_ok=True)
OUT_TABLES.mkdir(parents=True, exist_ok=True)

c:\Users\dirai\Documents\GitHub\kldr-project\scripts
c:\Users\dirai\Documents\GitHub\kldr-project
c:\Users\dirai\Documents\GitHub\kldr-project\app\data\output

In [100]:
df_raw = pd.read_csv(IN_RAW/ "df_UNCTAD_long_tidy.csv")

df_long = df_raw.copy()

df_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14588 entries, 0 to 14587
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_code    14588 non-null  object
 1   country_name    14588 non-null  object
 2   indicator_name  14588 non-null  object
 3   year            14588 non-null  int64
 4   value           7691 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 570.0+ KB

# for panel data structure we need all indicator variables to be a column
## --> so we get split the indicator_name column into separate columns

In [101]:
df_panel = df_long.pivot(

                        # the columns we want to KEEP  --> REMEMBER: VALUES IS HANDLED SEPARATELY!
                        index= ["country_code", "country_name", "year"],

                        # NEW COLUMNS FROM VALUES
                        columns="indicator_name",

                        # WHAT VALUES TO FILL THE NEW COLUMN WITH
                        values= "value"
).reset_index()

df_panel

indicator_name,country_code,country_name,year,Adoption_Business_Computers,Adoption_Business_Internet,Adoption_Peole_Internet,Adoption_People_Compzters,Digital_CustumerServices,Digital_Delivery,Digital_Presence,Ecom_Orders_Placing,Ecom_Orders_Receiving,Exports_Digital_Service,Imports_Digital_Service,Infrastructure_Extranet,Infrastructure_Intranet,Infrastructure_LAN
0,ABW,Aruba,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,270.0,NaN,NaN,NaN
1,ABW,Aruba,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,291.0,NaN,NaN,NaN
2,ABW,Aruba,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.0,336.0,NaN,NaN,NaN
3,ABW,Aruba,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,353.0,NaN,NaN,NaN
4,ABW,Aruba,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,411.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,ZWE,Zimbabwe,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,263.0,NaN,NaN,NaN
2852,ZWE,Zimbabwe,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,258.0,NaN,NaN,NaN
2853,ZWE,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2854,ZWE,Zimbabwe,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2855,ZWE,Zimbabwe,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Import Dataset for mapping developing countries

From the world bank, I downloaded a dataset that maps income levels to countries
--> For Question 3 I'd need a binary variable column that indicates if a country is a developing country or not so I can group them for fruther analysis

link: https://datatopics.worldbank.org/world-development-indicators/the-world-by-income-and-region.html

In [73]:
df_developing_countries_raw = pd.read_excel(ROOT/ "app"/ "data"/"CLASS_2025_10_07.xlsx")

df_developing_countries = df_developing_countries_raw.copy()

df_developing_countries

,Economy,Code,Region,Income group,Lending category
0,Afghanistan,AFG,"Middle East, North Africa, Afghanistan & Pakistan",Low income,IDA
1,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
2,Algeria,DZA,"Middle East, North Africa, Afghanistan & Pakistan",Upper middle income,IBRD
3,American Samoa,ASM,East Asia & Pacific,High income,NaN
4,Andorra,AND,Europe & Central Asia,High income,NaN
...,...,...,...,...,...
262,Sub-Saharan Africa,SSF,NaN,NaN,NaN
263,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN,NaN
264,Sub-Saharan Africa (IDA & IBRD),TSS,NaN,NaN,NaN
265,Upper middle income,UMC,NaN,NaN,NaN
266,World,WLD,NaN,NaN,NaN

In [74]:
df_developing_countries_short = df_developing_countries.drop(["Region", "Region"], axis = 1)

df_developing_countries_short

,Economy,Code,Income group,Lending category
0,Afghanistan,AFG,Low income,IDA
1,Albania,ALB,Upper middle income,IBRD
2,Algeria,DZA,Upper middle income,IBRD
3,American Samoa,ASM,High income,NaN
4,Andorra,AND,High income,NaN
...,...,...,...,...
262,Sub-Saharan Africa,SSF,NaN,NaN
263,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN
264,Sub-Saharan Africa (IDA & IBRD),TSS,NaN,NaN
265,Upper middle income,UMC,NaN,NaN
266,World,WLD,NaN,NaN

## now we need to drop every all regions --> they are in no income group

In [75]:
df_developing_countries_short.loc[df_developing_countries_short["Income group"].isna()]

,Economy,Code,Income group,Lending category
64,Ethiopia,ETH,NaN,IDA
211,"Venezuela, RB",VEN,NaN,IBRD
218,NaN,NaN,NaN,NaN
219,Africa Eastern and Southern,AFE,NaN,NaN
220,Africa Western and Central,AFW,NaN,NaN
221,Arab World,ARB,NaN,NaN
222,Caribbean small states,CSS,NaN,NaN
223,Central Europe and the Baltics,CEB,NaN,NaN
224,Early-demographic dividend,EAR,NaN,NaN
225,East Asia & Pacific,EAS,NaN,NaN
226,East Asia & Pacific (excluding high income),EAP,NaN,NaN
227,East Asia & Pacific (IDA & IBRD),TEA,NaN,NaN
228,Euro area,EMU,NaN,NaN
229,Europe & Central Asia,ECS,NaN,NaN
230,Europe & Central Asia (excluding high income),ECA,NaN,NaN
231,Europe & Central Asia (IDA & IBRD),TEC,NaN,NaN
232,European Union,EUU,NaN,NaN
233,Fragile and conflict affected situations,FCS,NaN,NaN
234,Heavily indebted poor countries (HIPC),HPC,NaN,NaN
235,High income,HIC,NaN,NaN
236,IBRD only,IBD,NaN,NaN
237,IDA & IBRD total,IBT,NaN,NaN
238,IDA blend,IDB,NaN,NaN
239,IDA only,IDX,NaN,NaN
240,IDA total,IDA,NaN,NaN
241,Late-demographic dividend,LTE,NaN,NaN
242,Latin America & Caribbean,LCN,NaN,NaN
243,Latin America & Caribbean (excluding high income),LAC,NaN,NaN
244,Latin America & Caribbean (IDA & IBRD),TLA,NaN,NaN
245,Least developed countries: UN classification,LDC,NaN,NaN
246,Low & middle income,LMY,NaN,NaN
247,Low income,LIC,NaN,NaN
248,Lower middle income,LMC,NaN,NaN
249,"Middle East, North Africa, Afghanistan and Pak...",MEA,NaN,NaN
250,"Middle East, North Africa, Afghanistan and Pak...",MNA,NaN,NaN
251,"Middle East, North Africa, Afghanistan and Pak...",TMN,NaN,NaN
252,Middle income,MIC,NaN,NaN
253,North America,NAC,NaN,NaN
254,OECD members,OED,NaN,NaN
255,Other small states,OSS,NaN,NaN
256,Pacific island small states,PSS,NaN,NaN
257,Post-demographic dividend,PST,NaN,NaN
258,Pre-demographic dividend,PRE,NaN,NaN
259,Small states,SST,NaN,NaN
260,South Asia,SAS,NaN,NaN
261,South Asia (IDA & IBRD),TSA,NaN,NaN
262,Sub-Saharan Africa,SSF,NaN,NaN
263,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN
264,Sub-Saharan Africa (IDA & IBRD),TSS,NaN,NaN
265,Upper middle income,UMC,NaN,NaN
266,World,WLD,NaN,NaN

We see that we have to keep Ethiopia and Venezuala, the rest is just regions

In [81]:
countries_to_fix = ["ETH", "VEN"]

new = df_developing_countries_short

new.loc[new["Code"].isin(countries_to_fix), "Income group"] = "Low/Middle income"

new[new["Code"].isin(["VEN", "ETH"])]

           Economy Code       Income group Lending category
64        Ethiopia  ETH  Low/Middle income              IDA
211  Venezuela, RB  VEN  Low/Middle income             IBRD

In [82]:
new

,Economy,Code,Income group,Lending category
0,Afghanistan,AFG,Low income,IDA
1,Albania,ALB,Upper middle income,IBRD
2,Algeria,DZA,Upper middle income,IBRD
3,American Samoa,ASM,High income,NaN
4,Andorra,AND,High income,NaN
...,...,...,...,...
262,Sub-Saharan Africa,SSF,NaN,NaN
263,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN
264,Sub-Saharan Africa (IDA & IBRD),TSS,NaN,NaN
265,Upper middle income,UMC,NaN,NaN
266,World,WLD,NaN,NaN

In [83]:
df_countries_only = new.dropna(subset=["Income group"])

print(f"Rows before filter: {len(new)}")
print(f"Rows after filter: {len(df_countries_only)}") # should be 218

Rows before filter: 267
Rows after filter: 218

In [85]:
df_countries_only

                   Economy Code         Income group Lending category
0              Afghanistan  AFG           Low income              IDA
1                  Albania  ALB  Upper middle income             IBRD
2                  Algeria  DZA  Upper middle income             IBRD
3           American Samoa  ASM          High income              NaN
4                  Andorra  AND          High income              NaN
..                     ...  ...                  ...              ...
213  Virgin Islands (U.S.)  VIR          High income              NaN
214     West Bank and Gaza  PSE  Lower middle income              NaN
215            Yemen, Rep.  YEM           Low income              IDA
216                 Zambia  ZMB  Lower middle income              IDA
217               Zimbabwe  ZWE  Lower middle income            Blend

[218 rows x 4 columns]

# Creating Binary Values for countries (column is_developing)

In [90]:
developed_status = ["High income"]
df_countries_only["is_developing"] = np.where(df_countries_only["Income group"].isin(developed_status), 0, 1)
is_developing_map = df_countries_only.set_index("Code")["is_developing"]
is_developing_map

C:\Users\dirai\AppData\Local\Temp\ipykernel_15832\1360348304.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_countries_only["is_developing"] = np.where(df_countries_only["Income group"].isin(developed_status), 0, 1)

Code
AFG    1
ALB    1
DZA    1
ASM    0
AND    0
      ..
VIR    0
PSE    1
YEM    1
ZMB    1
ZWE    1
Name: is_developing, Length: 218, dtype: int64

In [107]:
df_panel["is_developing"] = df_panel["country_code"].map(is_developing_map)
df_panel # binary variables are floats --> transform

indicator_name,country_code,country_name,year,Adoption_Business_Computers,Adoption_Business_Internet,Adoption_Peole_Internet,Adoption_People_Compzters,Digital_CustumerServices,Digital_Delivery,Digital_Presence,Ecom_Orders_Placing,Ecom_Orders_Receiving,Exports_Digital_Service,Imports_Digital_Service,Infrastructure_Extranet,Infrastructure_Intranet,Infrastructure_LAN,is_developing
0,ABW,Aruba,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,270.0,NaN,NaN,NaN,0.0
1,ABW,Aruba,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,291.0,NaN,NaN,NaN,0.0
2,ABW,Aruba,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.0,336.0,NaN,NaN,NaN,0.0
3,ABW,Aruba,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,353.0,NaN,NaN,NaN,0.0
4,ABW,Aruba,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,411.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,ZWE,Zimbabwe,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,263.0,NaN,NaN,NaN,1.0
2852,ZWE,Zimbabwe,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,258.0,NaN,NaN,NaN,1.0
2853,ZWE,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2854,ZWE,Zimbabwe,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2855,ZWE,Zimbabwe,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [110]:
df_panel["is_developing"] = df_panel["is_developing"].astype("Int64")
df_panel

indicator_name,country_code,country_name,year,Adoption_Business_Computers,Adoption_Business_Internet,Adoption_Peole_Internet,Adoption_People_Compzters,Digital_CustumerServices,Digital_Delivery,Digital_Presence,Ecom_Orders_Placing,Ecom_Orders_Receiving,Exports_Digital_Service,Imports_Digital_Service,Infrastructure_Extranet,Infrastructure_Intranet,Infrastructure_LAN,is_developing
0,ABW,Aruba,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,270.0,NaN,NaN,NaN,0
1,ABW,Aruba,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,291.0,NaN,NaN,NaN,0
2,ABW,Aruba,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.0,336.0,NaN,NaN,NaN,0
3,ABW,Aruba,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,353.0,NaN,NaN,NaN,0
4,ABW,Aruba,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,411.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,ZWE,Zimbabwe,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,263.0,NaN,NaN,NaN,1
2852,ZWE,Zimbabwe,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,258.0,NaN,NaN,NaN,1
2853,ZWE,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2854,ZWE,Zimbabwe,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2855,ZWE,Zimbabwe,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [115]:
df_panel[df_panel["is_developing"].isna()]["country_name"].unique()

array(['Anguilla', 'Montserrat', 'Niue', 'Sub-Saharan Africa', 'World'],
      dtype=object)

### Anguilla, Montserrat and Niue are tiny island states that are often missing from global classifications --> we can drop them

### Since we want countries and no regions, we can drop Wrold and Sub-Saharan Africa

In [117]:
df_panel.dropna(subset=["is_developing"], inplace=True)

# Exporting df_panel

In [118]:
out_path_panel = OUT_CLEAN/"df_panel.csv"
df_panel.to_csv(out_path_panel, index=False)

print(f"Sucessfully saved Panel Data to: {out_path_panel}")

Sucessfully saved Panel Data to: c:\Users\dirai\Documents\GitHub\kldr-project\app\data\output\df_panel.csv