## Import the dataframe and do a copy

In [42]:
# import all relevant libraries --> can't use utils since it is a jupyter notebook
import streamlit as st
import pandas as pd
from pathlib import Path
import plotly.express as px

In [43]:
CWD = Path.cwd()
print(CWD)

ROOT = CWD.parent

IN_RAW = ROOT/"app"/"data"

OUT_CLEAN = ROOT/"app"/"data"/"output"

OUT_TABLES = ROOT/"app"/"data"/"tables"

print(ROOT)
print(IN_RAW)

IN_RAW.mkdir(parents=True, exist_ok=True)
OUT_CLEAN.mkdir(parents=True, exist_ok=True)
OUT_TABLES.mkdir(parents=True, exist_ok=True)

c:\Users\dirai\Documents\GitHub\kldr-project\scripts
c:\Users\dirai\Documents\GitHub\kldr-project
c:\Users\dirai\Documents\GitHub\kldr-project\app\data

## Data Inspection

In [44]:
df_raw = pd.read_csv(IN_RAW/ "UNCTAD_DE_WIDEF.csv")
df = df_raw.copy(deep=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FREQ                1042 non-null   object
 1   FREQ_LABEL          1042 non-null   object
 2   REF_AREA            1042 non-null   object
 3   REF_AREA_LABEL      1042 non-null   object
 4   INDICATOR           1042 non-null   object
 5   INDICATOR_LABEL     1042 non-null   object
 6   UNIT_MEASURE        1042 non-null   object
 7   UNIT_MEASURE_LABEL  1042 non-null   object
 8   AGG_METHOD          1042 non-null   object
 9   AGG_METHOD_LABEL    1042 non-null   object
 10  DATABASE_ID         1042 non-null   object
 11  DATABASE_ID_LABEL   1042 non-null   object
 12  UNIT_MULT           1042 non-null   int64
 13  UNIT_MULT_LABEL     1042 non-null   object
 14  OBS_STATUS          1042 non-null   object
 15  OBS_STATUS_LABEL    1042 non-null   object
 16  OBS_CONF            1042 non-null   object
 17  OBS_CONF_LABEL      1042 non-null   object
 18  2010                691 non-null    float64
 19  2011                571 non-null    float64
 20  2012                648 non-null    float64
 21  2013                642 non-null    float64
 22  2014                709 non-null    float64
 23  2015                730 non-null    float64
 24  2016                685 non-null    float64
 25  2017                501 non-null    float64
 26  2018                497 non-null    float64
 27  2019                470 non-null    float64
 28  2020                450 non-null    float64
 29  2021                427 non-null    float64
 30  2022                397 non-null    float64
 31  2023                273 non-null    float64
dtypes: float64(14), int64(1), object(17)
memory usage: 260.6+ KB

In [45]:
print("DataFrames shape:")
print(df.shape)

print("DataFrames description")
print(df.describe())

DataFrames shape:
(1042, 32)
DataFrames description
         UNIT_MULT          2010          2011          2012          2013  \
count  1042.000000  6.910000e+02  5.710000e+02  6.480000e+02  6.420000e+02
mean      2.320537  1.010961e+04  1.389292e+04  1.273435e+04  1.374642e+04
std       2.923445  9.679050e+04  1.208040e+05  1.171565e+05  1.258472e+05
min       0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%       0.000000  3.457000e+01  5.191500e+01  3.873500e+01  4.310750e+01
50%       0.000000  9.410000e+01  1.010000e+02  9.831500e+01  9.855500e+01
75%       6.000000  6.055000e+02  1.085500e+03  8.315000e+02  9.567500e+02
max       6.000000  1.835732e+06  2.099551e+06  2.178859e+06  2.338419e+06

               2014          2015          2016          2017          2018  \
count  7.090000e+02  7.300000e+02  6.850000e+02  5.010000e+02  4.970000e+02
mean   1.372999e+04  1.299140e+04  1.430732e+04  2.123104e+04  2.355510e+04
std    1.315957e+05  1.266199e+05  1.351640e+05  1.713443e+05  1.892109e+05
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    3.785000e+01  3.510000e+01  3.989000e+01  4.156000e+01  4.300000e+01
50%    9.734000e+01  9.648500e+01  9.786000e+01  1.980000e+02  2.290000e+02
75%    8.000000e+02  6.945000e+02  8.070000e+02  2.561000e+03  2.941000e+03
max    2.553608e+06  2.482052e+06  2.574647e+06  2.800594e+06  3.112957e+06

               2019          2020          2021          2022          2023
count  4.700000e+02  4.500000e+02  4.270000e+02  3.970000e+02  2.730000e+02
mean   2.651028e+04  2.801304e+04  3.389280e+04  3.780697e+04  5.960112e+04
std    2.074548e+05  2.145356e+05  2.531492e+05  2.727961e+05  3.588700e+05
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00
25%    5.600000e+01  6.328250e+01  5.966000e+01  6.209000e+01  3.190000e+02
50%    3.130000e+02  3.480000e+02  4.300000e+02  6.220000e+02  2.122000e+03
75%    3.475500e+03  3.918250e+03  5.430500e+03  6.497000e+03  1.772700e+04
max    3.274737e+06  3.324128e+06  3.905260e+06  4.083964e+06  4.462457e+06

## Columns overview

In [47]:
cols_all = df.columns
print(cols_all)

Index(['FREQ', 'FREQ_LABEL', 'REF_AREA', 'REF_AREA_LABEL', 'INDICATOR',
       'INDICATOR_LABEL', 'UNIT_MEASURE', 'UNIT_MEASURE_LABEL', 'AGG_METHOD',
       'AGG_METHOD_LABEL', 'DATABASE_ID', 'DATABASE_ID_LABEL', 'UNIT_MULT',
       'UNIT_MULT_LABEL', 'OBS_STATUS', 'OBS_STATUS_LABEL', 'OBS_CONF',
       'OBS_CONF_LABEL', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

## We have a lot of columns that don't serve us anything

Check for columns with unique values --> means: column containing the same information and here especially information that we don't need for our analysis

In [48]:
constant_cols = df.columns[df.nunique() ==1]
print(constant_cols)

Index(['FREQ', 'FREQ_LABEL', 'DATABASE_ID', 'DATABASE_ID_LABEL', 'OBS_STATUS',
       'OBS_STATUS_LABEL', 'OBS_CONF', 'OBS_CONF_LABEL'],
      dtype='object')

In [49]:
for element in ["INDICATOR", "UNIT_MEASURE", "UNIT_MEASURE_LABEL", "UNIT_MULT", "UNIT_MULT_LABEL", "AGG_METHOD", "AGG_METHOD_LABEL"]:
    print(f"\n {20 * '-'}\n {element} unqiue values:\n{df[element].unique()}")

 --------------------
 INDICATOR unqiue values:
['UNCTAD_DE_DIG_SERVTRADE_ANN_EXP' 'UNCTAD_DE_DIG_SERVTRADE_ANN_IMP'
 'UNCTAD_DE_ICT_CORE_UBS_ANN_ALL_B1' 'UNCTAD_DE_ICT_CORE_UBS_ANN_ALL_B2'
 'UNCTAD_DE_ICT_CORE_UBS_ANN_ALL_B3'
 'UNCTAD_DE_ICT_CORE_UISIC3N1_ANN_00_B7'
 'UNCTAD_DE_ICT_CORE_UISIC4_ANN_00_B4'
 'UNCTAD_DE_ICT_CORE_UISIC4_ANN_00_B5'
 'UNCTAD_DE_ICT_CORE_UISIC4_ANN_00_B8'
 'UNCTAD_DE_ICT_CORE_UBS_ANN_ALL_B10'
 'UNCTAD_DE_ICT_CORE_UBS_ANN_ALL_B12_IDEL'
 'UNCTAD_DE_ICT_CORE_UISIC3N1_ANN_00_B6'
 'UNCTAD_DE_ICT_CORE_UISIC4_ANN_00_B11'
 'UNCTAD_DE_ICT_CORE_UISIC4_ANN_00_B12_ICUST']

 --------------------
 UNIT_MEASURE unqiue values:
['USD' 'PT_BS' 'PT_SAL']

 --------------------
 UNIT_MEASURE_LABEL unqiue values:
['US dollars' 'Percentage of businesses' 'Percentage of employees']

 --------------------
 UNIT_MULT unqiue values:
[6 0]

 --------------------
 UNIT_MULT_LABEL unqiue values:
['Millions' 'Units']

 --------------------
 AGG_METHOD unqiue values:
['SUM' 'MEAN']

 --------------------
 AGG_METHOD_LABEL unqiue values:
['Sum' 'Mean']

All those columns can be dropped since all that information is containe in INDICATOR LABEL

From looking into the csv file as well, we see:

- We have some columns with unique values, that won't serve us anything
- INDICATOR is also not needed, since already have INDICATOR_LABEL which describes it better
- UNIT MEASURE, UNIT_MEASURE_LABEL: Information is constant through

In [50]:
# drop all columns which have unique values

df.drop(['FREQ', 'FREQ_LABEL', 'DATABASE_ID', 'DATABASE_ID_LABEL', 'OBS_STATUS','OBS_STATUS_LABEL', 'OBS_CONF', 'OBS_CONF_LABEL'],axis=1, inplace=True)

# drop all columns which have not needed data

df.drop(["INDICATOR", "UNIT_MEASURE", "UNIT_MEASURE_LABEL", "UNIT_MULT", "UNIT_MULT_LABEL", "AGG_METHOD", "AGG_METHOD_LABEL"], axis=1, inplace= True)

df.head(500)

,REF_AREA,REF_AREA_LABEL,INDICATOR_LABEL,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ABW,Aruba,International exports in digitally-deliverable...,83.0,96.0,104.00,73.0,75.00,82.00,83.0,72.00,84.0,95.0,125.00,119.0,126.0,137.0
1,ABW,Aruba,International imports in digitally-deliverable...,270.0,291.0,336.00,353.0,411.00,375.00,404.0,405.00,435.0,427.0,359.00,442.0,489.0,525.0
2,AFG,Afghanistan,International exports in digitally-deliverable...,818.0,1066.0,638.00,296.0,456.00,311.00,176.0,170.00,249.0,214.0,375.00,NaN,NaN,NaN
3,AFG,Afghanistan,International imports in digitally-deliverable...,185.0,324.0,432.00,204.0,322.00,108.00,84.0,74.00,126.0,89.0,76.00,NaN,NaN,NaN
4,AGO,Angola,International exports in digitally-deliverable...,63.0,60.0,50.00,42.0,60.00,51.00,36.0,43.00,42.0,24.0,17.00,36.0,26.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,JPN,Japan,Proportion of businesses with a web presence,NaN,NaN,NaN,NaN,86.99,89.49,NaN,90.32,NaN,NaN,89.61,NaN,NaN,NaN
496,JPN,Japan,Proportion of businesses placing orders over t...,NaN,NaN,NaN,NaN,32.54,33.93,NaN,32.66,NaN,NaN,NaN,NaN,NaN,NaN
497,KAZ,Kazakhstan,International exports in digitally-deliverable...,529.0,563.0,581.00,622.0,647.00,572.00,551.0,524.00,576.0,737.0,773.00,861.0,1330.0,2406.0
498,KAZ,Kazakhstan,International imports in digitally-deliverable...,5232.0,4679.0,5128.00,5384.0,6703.00,5399.00,5081.0,4542.00,6092.0,5259.0,4490.00,3739.0,3732.0,4689.0
499,KAZ,Kazakhstan,Proportion of businesses using computers,NaN,NaN,66.92,NaN,61.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
pd.set_option("display.max_colwidth", None)
df["INDICATOR_LABEL"]

0         International exports in digitally-deliverable services
1         International imports in digitally-deliverable services
2         International exports in digitally-deliverable services
3         International imports in digitally-deliverable services
4         International exports in digitally-deliverable services
                                  ...
1037    Proportion of businesses placing orders over the Internet
1038      International exports in digitally-deliverable services
1039      International imports in digitally-deliverable services
1040      International exports in digitally-deliverable services
1041      International imports in digitally-deliverable services
Name: INDICATOR_LABEL, Length: 1042, dtype: object

In [52]:
pd.reset_option("display.max_colwidth") # reset colwidth

As we see, it is for most: Either exorts or imports, some have percentages, maybe look for each country if there is a certain set of labels so we can later transform them into one or two word labels like:

- International exports num
- International imports num
- Portion/ Percentage businesses digital
but we also have to see how we handle units AND types

Idea: since we have types sum and mean --> we can know that everything that has a mean is a portion --> we just have to know the sequences (Is there ONLY 3 or 4 types of labels?)

In [55]:
df["INDICATOR_LABEL"].nunique()

14

In [54]:
df["INDICATOR_LABEL"].unique()

array(['International exports in digitally-deliverable services',
       'International imports in digitally-deliverable services',
       'Proportion of businesses using computers',
       'Proportion of persons employed routinely using computers',
       'Proportion of businesses using the Internet',
       'Proportion of businesses receiving orders over the Internet',
       'Proportion of persons employed routinely using the Internet',
       'Proportion of businesses with a web presence',
       'Proportion of businesses placing orders over the Internet',
       'Proportion of businesses with a local area network (LAN)',
       'Proportion of businesses using the Internet for delivering products online',
       'Proportion of businesses with an Intranet (All activities)',
       'Proportion of businesses with an extranet',
       'Proportion of businesses using the Internet for providing customer services'],
      dtype=object)

Before we do that, let's quickly rename the column titles so we understand them better

In [58]:
df.rename(columns={
    "REF_AREA": "country_code",
    "REF_AREA_LABEL": "country_name",
    "INDICATOR_LABEL": "indicator_name"
}, inplace=True)

In [59]:
df

,country_code,country_name,indicator_name,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ABW,Aruba,International exports in digitally-deliverable...,83.0,96.0,104.0,73.0,75.0,82.0,83.0,72.0,84.00,95.0,125.0,119.0,126.0,137.0
1,ABW,Aruba,International imports in digitally-deliverable...,270.0,291.0,336.0,353.0,411.0,375.0,404.0,405.0,435.00,427.0,359.0,442.0,489.0,525.0
2,AFG,Afghanistan,International exports in digitally-deliverable...,818.0,1066.0,638.0,296.0,456.0,311.0,176.0,170.0,249.00,214.0,375.0,NaN,NaN,NaN
3,AFG,Afghanistan,International imports in digitally-deliverable...,185.0,324.0,432.0,204.0,322.0,108.0,84.0,74.0,126.00,89.0,76.0,NaN,NaN,NaN
4,AGO,Angola,International exports in digitally-deliverable...,63.0,60.0,50.0,42.0,60.0,51.0,36.0,43.0,42.00,24.0,17.0,36.0,26.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,ZAF,South Africa,Proportion of businesses placing orders over t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.71,54.0,25.5,30.4,NaN,NaN
1038,ZMB,Zambia,International exports in digitally-deliverable...,35.0,46.0,386.0,126.0,133.0,140.0,146.0,144.0,137.00,130.0,84.0,58.0,41.0,72.0
1039,ZMB,Zambia,International imports in digitally-deliverable...,89.0,191.0,242.0,NaN,495.0,268.0,270.0,300.0,332.00,310.0,271.0,264.0,389.0,475.0
1040,ZWE,Zimbabwe,International exports in digitally-deliverable...,58.0,61.0,64.0,67.0,70.0,73.0,76.0,56.0,54.00,89.0,74.0,NaN,NaN,NaN
1041,ZWE,Zimbabwe,International imports in digitally-deliverable...,508.0,527.0,515.0,571.0,563.0,516.0,522.0,339.0,248.00,263.0,258.0,NaN,NaN,NaN

In [57]:
# Now we see that we need to shorten the names of the values within indicator label


new_indicator_value_name_map = {
                                # Absolute Import Export Numbers

                                'International exports in digitally-deliverable services': 'Exports_Digital_Service',
                                'International imports in digitally-deliverable services': 'Imports_Digital_Service',

                                # Core Adoption (Percentage) Variables
                                'Proportion of businesses using the Internet': 'Adoption_Business_Internet',
                                'Proportion of persons employed routinely using the Internet': 'Adoption_Peole_Internet',
                                'Proportion of businesses with a web presence': 'Digital_Presence',

                                # E-Commerce/ Digital Transaction Variables
                                'Proportion of businesses placing orders over the Internet': 'Ecom_Orders_Placing',
                                'Proportion of businesses receiving orders over the Internet': 'Ecom_Orders_Receiving',
                                'Proportion of businesses using the Internet for delivering products online': 'Digital_Delivery',

                                # Infrastructure & Basic Readiness
                                'Proportion of businesses using computers': 'Adoption_Business_Computers',
                                'Proportion of persons employed routinely using computers': 'Adoption_People_Compzters',
                                'Proportion of businesses with a local area network (LAN)': 'Infrastructure_LAN',
                                'Proportion of businesses with an Intranet (All activities)': 'Infrastructure_Intranet',
                                'Proportion of businesses with an extranet': 'Infrastructure_Extranet',
                                'Proportion of businesses using the Internet for providing customer services': 'Digital_CustumerServices'
}

In [63]:
# df["indicator_name"].map(new_indicator_value_name_map, inplace=True) --> won't work, we have to assign it to the column

df["indicator_name"] = df["indicator_name"].map(new_indicator_value_name_map)

In [64]:
df

,country_code,country_name,indicator_name,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ABW,Aruba,Exports_Digital_Service,83.0,96.0,104.0,73.0,75.0,82.0,83.0,72.0,84.00,95.0,125.0,119.0,126.0,137.0
1,ABW,Aruba,Imports_Digital_Service,270.0,291.0,336.0,353.0,411.0,375.0,404.0,405.0,435.00,427.0,359.0,442.0,489.0,525.0
2,AFG,Afghanistan,Exports_Digital_Service,818.0,1066.0,638.0,296.0,456.0,311.0,176.0,170.0,249.00,214.0,375.0,NaN,NaN,NaN
3,AFG,Afghanistan,Imports_Digital_Service,185.0,324.0,432.0,204.0,322.0,108.0,84.0,74.0,126.00,89.0,76.0,NaN,NaN,NaN
4,AGO,Angola,Exports_Digital_Service,63.0,60.0,50.0,42.0,60.0,51.0,36.0,43.0,42.00,24.0,17.0,36.0,26.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,ZAF,South Africa,Ecom_Orders_Placing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.71,54.0,25.5,30.4,NaN,NaN
1038,ZMB,Zambia,Exports_Digital_Service,35.0,46.0,386.0,126.0,133.0,140.0,146.0,144.0,137.00,130.0,84.0,58.0,41.0,72.0
1039,ZMB,Zambia,Imports_Digital_Service,89.0,191.0,242.0,NaN,495.0,268.0,270.0,300.0,332.00,310.0,271.0,264.0,389.0,475.0
1040,ZWE,Zimbabwe,Exports_Digital_Service,58.0,61.0,64.0,67.0,70.0,73.0,76.0,56.0,54.00,89.0,74.0,NaN,NaN,NaN
1041,ZWE,Zimbabwe,Imports_Digital_Service,508.0,527.0,515.0,571.0,563.0,516.0,522.0,339.0,248.00,263.0,258.0,NaN,NaN,NaN

# Now we want to know: what do we actually need for our analysis regarding the questions?

## Question 1: Global Digital Trade

**Which countries lead in digital service exports? How has digital trade evolved over the past decade?**

Core Issue:
- Trend Analysis
- Group Comparison

- Which countries lead in digital service exports?
    - Look at all values of "International exports in digitally-deliverable services"
    - We might account for Units --> One way could be to normalize all values so we can compare them
- How has digital trade evolved over the past decade?
    - Compare change rates? --> Maybe CAGR? --> Annual growth rates
    - Panel Data Regression could be a good approach --> maybe doing both

Relevant Columns/ Variables:
- "International exports in digitally-deliverable services"



## Question 2: Technology Adoption & Trade

**Is there a relationship between internet adoption and digital service exports? Do countries with higher technology adoption export more digital services?**

Core Issue:
- Endogeneity (reverse causality)
- Omitted Variable Bias OVB

Question
- Panel Data with Fixed Effects or Instrumental Variables

Relevant Columns:
- International exports in digitally-deliverable services"
- All proporition variables


## Question 3: The Digital Divide

**Is the gap between developed and developing countries closing? How are adoption rates changing over time?**

Core Issue:
- Comparing 2 distinct groups (Developed vs. Developing) over time
- Idea: for classification, I will download a dataset from the world bank that lists countries with their income levels
    - then I will map them in a dictionary and create for our dataset a new column which has the title: is_developing

## Question 4: Regional Growth Impact

**Which regions are leading digital transformation? How are digital service exports growing by region?**

Core Issue:
- Comparing regional differences
- Controlling for other factors

In [22]:
df["REF_AREA_LABEL"].nunique()

204

## We want to transform our dataset into wide format

In [23]:
df.columns

Index(['REF_AREA', 'REF_AREA_LABEL', 'INDICATOR', 'INDICATOR_LABEL',
       'UNIT_MEASURE', 'UNIT_MEASURE_LABEL', 'AGG_METHOD', 'AGG_METHOD_LABEL',
       'UNIT_MULT', 'UNIT_MULT_LABEL', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

We see that we want our year-columns in one single column years

In [ ]:
df_long = df.melt(id_vars=[""])

In [ ]:
# renaming columns:

df_renamed = df.rename(columns={
    "REF_AREA": "country_code",
    "REF_AREA_LABEL": "country_name",
    "INDICATOR": "INDICATOR",
    ""

    }

)